.grid{
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
@media (min-width: 768px){
    .grid{
        max-width: inherit;
        width: 85%;
    }
}
@media (min-width: 1024px){
    .grid{
        width: 90%;
        max-width: 1300px;
    }
}